.portfolio-container__main {
  margin: 0 auto;
  background-image: url(/src/assets/img/color-sharp.png);
  background-repeat: repeat-y;
}

.portfolio-section__project {
  background-repeat: repeat-y;
  padding: 100px 150px;
  text-align: center;
}

.project-box {
  max-width: 786px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.project-head {
  width: fit-content;
  color: #ddd;
}

.project-head h2 {
  text-align: center;
  font-size: 3rem;
}

.projects-box__projects {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .project-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .project-info {
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  .project-info h4 {
    border-bottom: 1px solid #e1e7ef;
    width: fit-content;
    margin: 10px auto 20px auto;
  }
  .project-info .tool-req {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
